- if @article.errors.any?
  .alert
    %h2 #{@article.errors.count}個のエラーが見つかりました
    %ul
      - @article.errors.full_messages.each do |error|
        %li= error
.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :body
  = f.text_area :body
