.article{ id: dom_id(@article) }
  %h1= @article.title

  %section
    = simple_format @article.body

  %footer
    %ul
      %li= link_to '編集', edit_article_path(@article)
      %li
        %time= l @article.created_at

= link_to '一覧', articles_path
